<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/about.css">
    <title>Potato Sentinel</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon32.ico">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="../static/images/logo.png" alt="Logo" class="logo" draggable="false">
            <div class="logo-text">
                <p><strong>Potato Sentinel: Hybrid Intelligence for Healthier Crops</strong></p>
            </div>
        </div>
    </header>
    
    <div class="custom-heading">
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </label>
        <a href="/home" class="home-button">
            <img src="../static/images/home.png" alt="Home" class="home-icon" draggable="false" width="32" height="32">
        </a>
        <h1>
            <span>Potato Sentinel</span>
            <img src="../static/images/img.png" alt="Image" class="image" draggable="false" width="55" height="55">
        </h1>
        <nav class="dropdown-menu">
            <ul>
                <li>
                    <a href="/ai">
                        <img src="../static/images/ai.png" alt="AI Icon" class="icon" width="32" height="32">
                        <strong>AI Engine</strong>
                    </a>
                </li>
                <li>
                    <a href="/faq">
                        <img src="../static/images/faq.png" alt="FAQ Icon" class="icon" width="32" height="32">
                        <strong>FAQ</strong>
                    </a>
                </li>
                <li>
                    <a href="/tnc">
                        <img src="../static/images/tnc.png" alt="TNC Icon" class="icon" width="32" height="32">
                        <strong>Terms of Service</strong>
                    </a>
                </li>              
            </ul>
        </nav>
    </div>   

    <div class="team-container">
        <div class="content">
            <h2>Team Member 1</h2>
            <p><strong>Name:</strong> Hari Nath R</p>
            <p><strong>Roll Number:</strong> 21BIT0738</p>
            <p><strong>Email:</strong> <a href="mailto:harinath8124@gmail.com">harinath8124@gmail.com</a></p>
            <p><strong>WhatsApp:</strong> 9025775482</p>
            <p><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/hari8124" target="_blank">hari8124</a></p>
            <p><strong>GitHub:</strong> <a href="https://github.com/hari8124" target="_blank">hari8124</a></p>
        </div>
        <div class="content">
            <h2>Team Member 2</h2>
            <p><strong>Name:</strong> Karthik Shabari</p>
            <p><strong>Roll Number:</strong> 21BIT0572</p>
            <p><strong>Email:</strong> <a href="mailto:karthikshabari@gmail.com">karthikshabari@gmail.com</a></p>
            <p><strong>WhatsApp:</strong> 9677225032</p>
            <p><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/hari8124" target="_blank">karthik</a></p>
            <p><strong>GitHub:</strong> <a href="https://github.com/hari8124" target="_blank">karthik</a></p>
        </div>
        <div class="content">
            <h2>Team Member 3</h2>
            <p><strong>Name:</strong> Nithyasri</p>
            <p><strong>Roll Number:</strong> 21BIT0596</p>
            <p><strong>Email:</strong> <a href="mailto:nithyasriku06@gmail.com">nithyasriku06@gmail.com</a></p>
            <p><strong>WhatsApp:</strong> 9600979233</p>
            <p><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/hari8124" target="_blank">nithyasri</a></p>
            <p><strong>GitHub:</strong> <a href="https://github.com/hari8124" target="_blank">nithyasri</a></p>
        </div>
    </div>
    
    <footer class="footer">
        <p class="footer-text"><strong>© Developed by Hari, Karthik, and Nithya</strong></p>
    </footer>

    <script src="../static/about.js"></script>

</body>
</html>
